.cartProducts{
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px; 
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 2rem;
    border: 3px solid #250c61;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

}

.cartProducts__title {
    font-weight: 700;
    font-size: 35px;
}

.btn__remove {
    height: 60px;
    width: 70px;
    color: #ffbf0e;
    background-color: #ffffff;
    border: 3px solid #eeca66;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 15px;
    font-weight: 600;
}

.btn__remove:hover{
    color: white;
    background-color: #f8d152;
    border: solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
    font-size: 17px;
}