/* .div__detail {
    display: flex;
    flex-direction: column;
    
}

.img__detail {
    width: 300px;
    height: 500px;
    align-items: center;
    justify-items: center;
} */

div .ctn__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    max-height: 30%;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(235, 224, 177);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    
}

.ctn__card:hover {
    /* background-color: rgb(216, 205, 147);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    transition: 0.5s; */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1.5%);
    border: solid 2px rgba(110, 78, 9, 0.445);
    

}

.ctn__detail__img {
    /* width: 200px;
    height: 200px; */
    width: 100%;
    max-height: 80%;
    
    
}

.ctn__card__title .ctn__card__dscp {
    padding: 15px;
    text-align: center;
}

.ctn__card__dscp  {
    color: rgb(41, 41, 41);
    font-weight: 500;
}

.ctn__card__title h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.detail__btn {
    height: 60px;
    width: 70px;
    color: #ffbf0e;
    background-color: #f5fff9;
    border: 3px solid #eeca66;
    border-radius: 7px;
    transition: all 400ms ease;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.detail__btn:hover {
    color: white;
    background-color: #f5d15a;
    border: solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
    font-size: 22px;
    
    
}

.cart__btn1{
    display: flex;
    color: #4ad4bd;
    background-color: #f5fff9;
    border: 3px solid #4ad4bd;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 25px;
    padding: 5px 15px;
    margin: 20px;
    text-decoration: none;
    justify-content: center;
    
}

.cart__btn1:hover{
    color: #4ad4bd;
    background-color: #f5fff9;
    border: solid #3ca392;
    cursor: pointer;
    transition: 1s;
    font-size: 28px;
    font-weight: 600;
}

.cart__btn2{
    display: flex;
    color: #f5fff9;
    background-color: #4ad4bd;
    border: 3px solid #3ca392;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 25px;
    padding: 5px 15px;
    margin: 20px;
    text-decoration: none;
    justify-content: center;
    
}

.cart__btn2:hover{
    color: rgb(255, 255, 255);
    background-color: #4ad4bd;
    border: solid #24665b;
    cursor: pointer;
    transition: 1s;
    font-size: 26px;
    font-weight: 600;
}