.div__ctn___cards{
    display: grid;
    padding: 50px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    
  
  }

  .load__title {
    margin-top: 50px;
}

.load__gif {
    margin-top: 120px;
}