
.ctn__cards__mayor{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
} 


.ctn__card {
    width: 250px;
    height: 400px;
    margin: 15px;
    background: rgb(235, 224, 177);
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ctn__card:hover {
    background-color: rgb(216, 205, 147);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.ctn__card__img {
    max-width: 70%;
    
}

.ctn__card__title {
    width: 100%;
    margin: 0%;
    font-size: 22px;
    font-family: 'Roboto';
}

.ctn__card__dscp {
    margin: 0%;
    font-family: 'Roboto';
    font-size: 15px;

}

