.NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(165, 136, 218);
    width: 100%;
    box-sizing: content-box;

}

.NavBar__title{
    font-size: 30px;
    text-decoration: none;
    box-sizing: border-box;

}

.NavBar__list{
    display: flex;
    list-style-type: none;
    margin-left: 100px;
}

.NavBar__list li {
    padding: 30px;
    font-weight: 350;
    box-sizing: border-box;
}

.NavBar__list a {
    text-decoration: none;
    color: rgba(255, 255, 255);
    font-size: 30px;
    box-sizing: border-box;
}

.NavBar__list a:hover{
    color: rgb(74, 6, 95);
    transition: 1s;
    font-size: 33px;
    
}