.countButton{
    display: flex;
    font-size: 20px;
    align-items: center;
}

.buttons {
    border: none;
    padding: 40px, 20px;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
    background-color: rgb(158, 224, 182);
    border-radius: 4px;
}

.buttons:hover {
    background-color: rgb(85, 204, 129);
    border: solid rgb(21, 150, 60);
    cursor: pointer;
    transition: 1s;
    font-size: 32px;
}


