.countButton{
    /* display: flex;
    font-size: 20px;
    align-items: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.countButton button {
    /* padding: 0 30px; */
    height: 60px;
    width: 70px;
    /* color: #55cc81;
    background-color: #f5fff9;
    border: 3px solid #9ee0b6; */
    color: #ffbf0e;
    background-color: #f5fff9;
    border: 3px solid #eeca66;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 40px;
}

.addButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.addButton button {
    color: #55cc81;
    background-color: #f5fff9;
    border: 3px solid #9ee0b6;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 25px;
    padding: 5px 15px;
}


.countButton button:hover {
    color: white;
    background-color: #f8d152;
    border: solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
    font-size: 40px;
}

.addButton button:hover{
    color: white;
    background-color: #55cc81;
    border: solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
    font-size: 28px;
}


